version: 2.1

jobs:
  test:
    docker:
      - image: cimg/python:3.12
    steps:
      - checkout
      - run:
          name: Install tooling
          command: |
            python -m venv .venv
            . .venv/bin/activate
            make setup
      - run:
          name: CI gate
          command: |
            . .venv/bin/activate
            make ci

workflows:
  develop:
    jobs:
      - test:
          filters:
            branches:
              only: develop

  main:
    jobs:
      - test:
          filters:
            branches:
              only: main
